@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700&display=swap');


body
{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.margin-bottom-20{

    margin-bottom: 20px;

}

.margin-bottom-50{

    margin-bottom: 50px;

}

.margin-top-0{
    margin-top: 0;
}

.margin-top-40{
    margin-top: 40px;
}