$primary-color: #F30A49;
$secondary-color: #04879C;
$teriary-color: #a7cd78;
$quadry-color: #fff279;
$primary-color-light: #F30A49;
$secondary-color-light: #c13131;
$teriary-color-light: #a7cd78;
$quadry-color-light: #fff279;
$primary-bgcolor: #191919;
$secondary-bgcolor:#bbbbbb;
$link-color:#F30A49;
$hover-color :#0f0f0f;
$text-color :#0f0f0f;
 