@import "_breakpoints.scss";
@import "_variables.scss";
@import "_body.scss";
@import "_menu.scss";
@import "_mixin.scss";
@import "_logo.scss";
@import "_headerbg.scss";
@import "_pagecontents.scss";

.no-gutters{
    padding-right: 0;
    padding-left: 0;
}



.firstrow{ 
    background-color: $primary-color;
    /* Set a specific height */
    min-height: 1000px;
    color: #727272;
    text-align: left;
    align-items: flex-start;
    background-image: url("../../images/bg1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.secondrow {
    display: flex;
    position: relative;
    min-height: 1000px;
    text-align: left;
    align-items: center;
    background-image: url("../../images/bg2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    p {
        color: #ffffff;
        font-size: 2em;
        font-weight:500;
        margin: 50px;
    }
}

.donation {
    height: auto;
    background-color: rgba($color:$secondary-color, $alpha: 0.8);
    margin-left: 0;
    float: left;}
    
@include respond-above(lg)
{
.donation {
    width: 50%;
    font-weight: 500;
    font-size: 1.3em;}
}

@include respond-between(md,lg)
{
.donation {
    width: 50%;
    font-weight: 400;
    font-size: 1.0em;}
}

@include respond-between(sm,md)
{
    .donation {
    width: 100%;
    font-weight: 400;
    font-size: 1.0em;}
}

@include respond-below(sm)
{
    .donation {
        width: 100%;
        font-weight: 300;
        font-size: 0.8em;}
}



.thirdrow {
    position: relative;
    padding: 20px 50px 20px 50px;
  
    &::after {
         content: "";
         background-color:$secondary-bgcolor;
         background-image: url("../../images/bw-afrop.jpg");
         background-repeat: repeat;
         opacity: 0.02;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         position: absolute;
         z-index: -1;
     }

    div {
        padding: 0 10px 0 10px;
        text-align: center;

    }

  

   
}

 .activityp{
     display: block;
     min-height: 100%;
     padding: 20px 10px 0 10px;

     img{
        position: relative;
         border: black 1px solid;
         height: 95%;
         width: 95%;
         }

       h3{
            float: left;
            margin: 5px;
            padding: 5px 0 10px 5px;
            font-size: 1.4em;
            font-weight: 600;
            text-align: left;
            color:$link-color;
            font-family: 'Roboto', sans-serif;
            text-decoration: none; 

            > span{ font-size: 0.8em;}
        }
 }


.footer {
    display: grid;
    background-color: #333333;
    height: 500px;
    display: grid;
    text-align: center;
    align-items: center;
    color: #727272;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8em;
    font-weight: 500;
}


 
