.logo {
    background-color: #ffffff;
    margin: 20px;
}

.menu {
    background-color: #ffffff;
    height: 120px;
    display: grid;
    text-align: center;
    align-items: center;
}

.ImgContent {
    display: grid;
    background-color: #dadada;
    height: 800px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8em;
    font-weight: 500;
    color: #727272;
    text-align: center;
    align-items: center;
}

.TextContent {
    display: grid;
    text-align: center;
    align-items: center;
    background-color: beige;
    height: 800px;
    color: #727272;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8em;
    font-weight: 500;
}

.footer {
    display: grid;
    background-color: #333333;
    height: 500px;
    display: grid;
    text-align: center;
    align-items: center;
    color: #727272;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8em;
    font-weight: 500;
}