.logoblock {
    position: absolute;
    margin: 0px;
    top: 0;
    left: 0;
}

.logo {
    display: block;
    height: auto;
    max-width: 150px;
    margin: 30px;
}

.menu {
    background-color: #ffffff;
    height: 120px;
    display: grid;
    text-align: center;
    align-items: center;
}

.firstcol {
    background-color: #711c1b;
    /* Set a specific height */
    min-height: 1000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8em;
    font-weight: 500;
    color: #727272;
    text-align: center;
    align-items: center;
    background-image: url("images/bg1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.secondcol {
    display: flex;
    position: relative;
    min-height: 1000px;
    text-align: center;
    align-items: center;
    text-align: center;
    align-items: center;
    background-image: url("images/bg2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.secondcol p {
    /* color: #711c1b;*/
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: 500;
    margin: 50px;
}

.donation {
    width: 50%;
    height: auto;
    background-color: #1B7036;
    opacity: 0.8;
    margin: 0 auto;
}

.footer {
    display: grid;
    background-color: #333333;
    height: 500px;
    display: grid;
    text-align: center;
    align-items: center;
    color: #727272;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8em;
    font-weight: 500;
}